.container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    box-sizing: border-box;
    position: absolute;
    top: 11vh;
    left: 33.3vw;
  }
  
  .formContainer {
    border: 2px solid rgba(217, 217, 217, 1);
    border-radius: 17px;
    padding: 3% 7%;
  }

  .h2 {
    font-family: Roboto;
    font-size: 2.3rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 18px;
    color: rgba(0, 0, 0, 1);
  }
  .input {
    width: 100%;
    padding: 4px 10px ;

    font-size: 18px;
    margin-bottom: 13px;
    border: 1.5px solid rgba(182, 182, 182, 1);
    border-radius: 5px;
    box-sizing: border-box;
  }
 .error {
    color: red;
    margin-top: -5px; 
    text-align: right; 
    font-size: 20px; 
    margin-bottom: 10px;
  }
  
  .signinButton {
    width: 100%;
    padding: 8px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    margin-top: 3.5%;
    margin-bottom: 4%;
    text-align: center;
    background-color: rgba(46, 0, 82, 1);
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  .formContainer p {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
  }


  .formContainer .label {
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 1);
  }

  .formContainer .instruction1 {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
  }
  

  .formContainer .instruction2 {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 1);
  }
  .signin {
    margin-top: 1rem;
    font-weight: 500;
  }
  .signin span { text-decoration-line: underline;}