.searchBar {
    display: none;
}
.img_container {
    width: 50px;
    height: 50px;
}
.img_container img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain;
}
.h1 {
    font-family: Roboto;
    font-size: 42px;
    padding-left: 0.7%;
    font-weight: 600;
    line-height: 51.71px;
    color: rgba(46, 0, 82, 1);
}



@media screen and (max-width: 600px) {
    .searchBar {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center; /* Horizontally center the input */
        align-items: center; 
        background-color: rgba(46, 0, 82, 1);
        box-sizing: border-box;
    }
    .icon {
        color: rgba(102, 102, 102, 1);
        position: relative;
        left: 8.4%;
        background-color: white;
    }
    .searchBar input {
        margin-right: 20px;
        width: calc(100% - 50px);
        font-size: 1.08rem;
        padding: 0.25rem 2rem;
        box-sizing: border-box;
        color: rgba(102, 102, 102, 1);
    }
    
}