.searchBar {
    display: none;
}
.header {
    display: none;
}
.img_container {
    width: 2.3rem;
    height: 2.3rem;
}
.img_container img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain;
}
.h1 {
    font-family: Roboto;
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 51.71px;
    color: white;
    
}







@media screen and (max-width: 600px) {
    .searchBar {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(46, 0, 82, 1);
        box-sizing: border-box;
        padding: 0 1rem;
        position: relative;
    }
    .icon {
        color: rgba(102, 102, 102, 1);
        position: absolute;
        left: 2.5rem;
        z-index: 3;
        pointer-events: none;
        top: 50%;
        transform: translateY(-50%);
    }
    .searchBar input {
        width: 90%;
        max-width: 90%;
        font-size: 1rem;
        padding: 0.7rem 1rem 0.7rem 3rem;
        box-sizing: border-box;
        color: #000 !important;
        background-color: white !important;
        border: none;
        outline: none;
        border-radius: 0.6rem;
        margin: 0 auto;
    }
    
    .searchBar input::placeholder {
        color: rgba(102, 102, 102, 0.8);
        opacity: 1;
    }
    
    .searchBar input:focus {
        color: #000 !important;
        background-color: white !important;
    }
    .header {
        display: flex;
        justify-content: flex-start; /* Horizontally center the input */
        align-items: center;
        height: 4vh;
        padding: 0.5rem;
        background-color: rgba(46, 0, 82, 1);
        gap: 0.4rem;
        padding-left: 1rem;
    }
}