/* Cart.module.css */
  .cartContainer {
    margin: 0 3rem;
  }
  .backtoProduct {

    margin: 0.7rem 0rem;
    font-size: 0.85rem;
    padding: 4px 10px;
    border-radius: 0.5rem;
    background-color: rgba(46, 0, 82, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
  }

  
  .myCartHeading {
    display: flex;
    gap: 0.5rem;
    justify-content: center;

    margin: 0.5rem 0rem;
  }
  .myCartHeading p {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
  }
  .cartItems {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border-top: 1.5px solid #e1e1e1;
    border-bottom: 1.5px solid #e1e1e1;
    width: 58rem;
    height: 23.5rem;
    margin-top: 3vh;
    overflow-y: scroll;
  }
  .cartItem {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2.3rem;
  }
  .cartTotalPrice {
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  .cartItems::-webkit-scrollbar {
    display: none;
  }
  .select {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .quantitySelect {
    width: 7rem; /* Adjust as needed */
    text-align-last: center; /* Centers the selected option text */
    font-size: 0.88rem;
    font-weight: 500;
    border: 1px solid black;
    /* Adjust the padding to potentially help center the dropdown arrow if needed */
    
    /* You might need browser-specific prefixes for text-align-last in older versions */
  }
  
  /* This will not center text inside the dropdown, but makes the select itself look better */
  .quantitySelect option {
    text-align: center;
  }
  
  .cartItemImage {
    width: 100px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
  }
  .responsiveContainer {display: none;}
  .responsiveCartItem {display: none;}
  .cartItemsSingle {
    height: 16rem;
  }
  .border {
    margin: 18px 30px 0px 5px;
    height: 28.3rem;
    border: 1px solid #e1e1e1;
  }
  .borderSingle {
    height: 20rem;
  }
  .cartTotal {
    margin-top: 5rem;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  
  .checkoutButton {
    background-color: rgba(255, 214, 0, 1);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1.7rem;
    width: 17.5rem;
  }

  @media only screen and (max-width: 600px) {
    .responsiveContainer {
      display: flex;
      flex-direction: column;
      padding: 3%;
      overflow-y: hidden;
      overflow-x: hidden;
    }
    .responsiveCartItem {
      display: flex;
      width: 100%;
      margin-bottom: 3rem;
    }
    .cartTotal {
      border-top: 1.3px solid rgba(0, 0, 0, 1);
      margin-top: 2.2rem;
      padding: 5% 2%;
    }
    .cartItems::-webkit-scrollbar {
      display: none;
    }
    .cartContainer {display: none;}
    .cartItem {display: none;}
    .cartItems {
      height: 22.3vh; 
      overflow-y:  scroll;
      padding: 0.8rem;
      padding-top: 1.3rem;
      margin-top: 0px;
    }

    .cartItemImage {
      width: 40vw;
      height: auto;
      border: none;
      border-radius: 1px;
    }
    .cartItemDetails {
      margin-left: 0.5rem;
      padding-top: 2px;
    }

    .checkoutButton{
      font-size: 1.3rem;
      padding: 0.7rem;
      width: 90vw;
    }
  }