/* CheckoutPage.module.css */
.container {
    margin: 0px 3rem;
  }
  .backtoProduct {

    margin: 0.2rem 0rem;
    font-size: 0.85rem;
    padding: 4px 23px;
    border-radius: 0.5rem;
    background-color: rgba(46, 0, 82, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
  }

.myCartHeading {
    display: flex;
    text-decoration: underline;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .checkoutForm {
    display: flex; flex-direction: column;
    
    width: 70%;
    height: 70vh;
    padding:  0.2rem 2rem 1rem 1rem;
    margin-top: 0.8rem;
  }

  .fieldLabel {
    width: 40vw;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(181, 43, 0, 1);
  }
  
  .userName {
    margin-bottom: 4px;

    margin-left: 0.7rem;
    font-size: 0.85rem;
    color: rgba(121, 121, 121, 1);
  }
  .gridContainer {
    height: 30vh;
    overflow-y: scroll;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,minmax(3rem, 1fr));
    gap: 3rem;
    margin-bottom: 0.3rem;
    row-gap: 1rem;
}

.gridContainer::-webkit-scrollbar {
  display: none;
}
  .fields {
    width: 30vw;
    max-height: 36.7vh;
  }
  .gridContainer img {
    
    width: 100%; /* Make image width responsive to the container's width */
    height: auto;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid rgba(46, 0, 82, 1);
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .gridContainer img:hover,
  .gridContainer img:focus {
    border: 3px solid rgba(46, 0, 82, 1);
  }
  .checkoutContainer{
    display: flex;
  }
  .sidePlaceOrder{
    border: 2px solid rgba(225, 225, 225, 1);
    padding: 0.3rem;
    padding-top: 0rem;
    margin-top: 1rem;
  }
  .textareaSelect {
    padding: 0.23rem 0.5rem;
    width: 21.3vw;
    resize: none;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
  }
  .Select {
    padding: 0.35rem 0.5rem;
    width: 22.5vw;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 0.8rem;
    color: rgba(121, 121, 121, 1);
  }
  
  .inStock {display: none;}
  .button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: rgba(255, 214, 0, 1);
    color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 0.3rem;
  }
  
  .bottomPlaceOrder {
    display: flex;
    border: 2px solid rgba(225, 225, 225, 1);
    margin: 0.7rem 0rem;
    padding: 10px;
    border-radius: 10px;
  }
  .bottomPlaceOrder button {
    padding: 7px 15px;
    background-color: rgba(255, 214, 0, 1);
    color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 2rem;
  }
  .orderSummary {
    display: none;
  } .backbutton {
    display: none;
  }
  .error {
    color: red;
    text-align: center;
  }
  .itemDetails {
    margin-top: 0.5rem;
  }
  /* Add responsive styles as needed */
  @media only screen and (max-width: 600px) {
    .sidePlaceOrder {
      display: flex;
      flex-direction: column-reverse;
      border: none;
      margin-top: 4rem;
    }
    .checkoutContainer {
      flex-direction: column;
      gap: 0rem;
    }

    .orderTotal {
      display: none;
    }
    .container {
      margin: 0px 0rem;
    }
    .labelField {
      display: flex;
      flex-direction: column;
    }

    .inStock {display: flex;}
    .checkoutForm {
      padding: 0px;
      width: 100%;
    }
    .myCartHeading {
      display: flex;
      justify-content: left;
      text-decoration: none;
      margin-left: 1rem;
      font-size: 1.8rem;
    }
    .orderSummary {
      display: flex;
      font-size: 1.3rem;
      gap: 2.3rem;
    }
    .fieldLabel {
      width: 100%;
      margin-left: 1rem;
      padding: 0.3rem;
      font-size: 1.3rem;
      margin-bottom: 0.7rem;
    }
    .gridContainer {
      margin-top: 0.3rem;
      width: 70%;
      display: grid;
      grid-template-columns: repeat(3,minmax(3rem, 1fr));
      gap: 1.3rem;
      margin-bottom: 0.3rem;
    }

    .fields {
      width: 100%;
      margin-left: 2.3rem;
      margin-bottom: 0.7rem;
    }
    .userName {
      font-size: 1rem;
    }
    .fields .textareaSelect {
      font-size: 1rem;
      height: 3rem;
      width: 70%;
    }

    .bottomPlaceOrder {
      display: none;
    }
    .backbutton {
      display: flex;
      margin-bottom: 1rem;
      padding: 5px;
      border-radius: 50%;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 1)
    }
    
    .backtoProduct {display: none;}
    .Select {
      width: 75%;
      font-size: 1rem;
      
      padding: 0.5rem;
    }
  }
  