body {
  font-family: 'Roboto', sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.headerAuthentication {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  background-color: rgba(46, 0, 82, 1);
}
.headerContent {
  display: flex;
  justify-content: space-between;
  padding: 0.3% 3%;
  box-sizing: border-box;
}
.img_container {
  width: 44px;
  height: 44px;
  margin-top: 5px;
}
.img_container img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}
.h1 {
  font-size: 34px;
  padding-left: 3%;
  font-weight: 600;
  line-height: 51.71px;
  color: rgba(46, 0, 82, 1);
}

.routeText {
  font-size: 1rem;
  margin: 0;
  color: rgba(0, 0, 0, 1);
  width: 300px;
  margin-left: 23px;
  margin-top: 23.5px;
}


.differentPosition {
  border: none;
  border-radius: 50px;
  background-color: rgba(29, 112, 0, 1);
  color: rgba(255, 255, 255, 1);
  padding: 7px 15px;
  margin: 10px 20px;
  font-size: 13px;
  display: flex;
}
.viewCartButton {
  border: none;
  border-radius: 50px;
  background-color: rgba(29, 112, 0, 1);
  color: rgba(255, 255, 255, 1);
  padding: 7px 15px;
  margin: 10px 20px;
  font-size: 13px;
  display: flex;
  cursor: pointer;
}
.userAvatar {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  padding: 10px 5.5px;
  font-size: 1.8rem;
  font-weight: 500;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  border: 1.8px solid black;
  box-sizing: border-box;
}

.userAvatar::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #555;
  display: none;
}

.userAvatar:hover::after,
.dropdownMenu:hover::after {
  display: block;
}

.dropdownMenu {
  background-color: white;
  color: rgba(0, 0, 0, 1);
  padding: 12px 15px;
  border-radius: 13px;
  position: absolute;
  top: 110%;
  left: -130%;
  width: 160px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  gap: 8px;
}

.dropdownMenu.hidden {
  display: none;
}

.dropdownMenu p {
  margin: 0 0 10px;
}

.logoutButton {
  background-color: #F44336;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  width: 100%;
}

.logoutButton:hover {
  background-color: #E5190d;
}

.viewCartButton {
  /* Add your styles for the view cart button here */
}

/* Add responsive styles if needed */
  @media (max-width: 768px) {
    .headerContent {
      display: none;
    }
    .headerAuthentication {
      display: none;
    }
    
  }